body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.StripeElement {
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.cardContainer{
  width: 80%;
  border-radius: 10px !important;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 4px 4px 20px 0px rgba(146, 125, 250, 0.5) !important;
  cursor: pointer;
  margin: 0 auto 5px;
  height: 350px;
}

.apbar{
  flex-grow: 1;
  background-color: #000 !important;
}

.imageCarousel{
  display: flex;
  margin-top: 100px !important;
  justify-content: center !important;
  align-items: center !important;
}

.eachCarousel{
  height: 550px;
  width: 100%;
}

.expTitle {
  font-size: 60px;
  font-weight: bold;
}

.textAboutUs{
  display: flex;
  flex-direction: row;
  background-color: #E58F1E;
  color: white;
}

.videoPresentation{
  width: 100%;
  height: 100%;
}

.logo{
  width: 186px;
  height: 100px;
}

.title {
  flex-grow: 1;
  color: #EDBA2D;
  cursor: pointer;
  text-align: start;
}

.MuiGrid-grid-xs-1{
  max-width: 100% !important;
}

.coach-cdab-container{
  margin: 0 auto;
  width:50%
}

.cardArticle {
  width: 100%;
  height: 380px;
  text-align: center;
  box-shadow: 4px 4px 20px 0px rgba(146, 125, 250, 0.5);
  border-radius: 10px;
  padding: 15px;
  background-color: #fff070;
  color: black;
  display: flex;
  margin-bottom: 10px
}

.profilTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 25%;
  font-size: 75px;
  font-weight: 500;
  color: #EDBA2D;
  transform: translate(-50%, -50%);
  width: 900px;
}

.subContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cardArticleWhite {
  width: 1020px;
  height: 380px;
  text-align: center;
  box-shadow: 4px 4px 20px 0 rgba(146, 125, 250, 0.5);
  border-radius: 10px;
  padding: 15px;
  background-color: white;
  color: black;
  display: flex;
  margin-bottom: 10px;
  overflow: auto;
}

.formControl{
  margin-bottom: 10px;
  width: 500px;
}

.styleInput{
  width: 500px;
}

.styleInput .MuiFormLabel-root{
  color: black !important;
}

.title-temoignage{
  font-size: 60px;
  font-weight: bold;
  text-decoration: underline
}

.stripe { overflow: visible!important; }



@media (max-width: 500px) {

  .title-temoignage{
    font-size: 16px !important;
  }

  .formControl{
    width: 100% !important;
  }

  .styleInput{
    width: 100% !important;
  }

  .coach-cdab-container{
    margin: 0 auto;
    width: 100%;
  }

  .Coaching-videoArt-8{
    width: 100% !important;
  }

  .subContainer{
    display: block !important;
  }

  .profilTitle{
    width: 100% !important;
    font-size: 40px !important;
  }

  .StudentProfil-subContainer-2{
    display: block !important;
  }

  .Coaching-textArt-9{
    width: 100% !important;
    padding: 0 !important;
  }

  .cardArticle{
    /*flex-direction: column !important;*/
    width: 100% !important;
  }

  .cardArticleWhite{
    /*flex-direction: column !important;*/
    width: 100% !important;
    overflow: auto !important;
  }

  .title{
    text-align: center !important;
  }

  .logo{
    margin: 0 auto !important;
  }

  .cardContainer{
    height: 100% !important;
  }

  .apbar{
    position: initial !important;
  }

  .dv-toolbar{
    display: grid !important;
  }

  .imageCarousel{
    margin-top: 0px !important;
  }

  .eachCarousel{
    height: 240px !important;
  }

  .expTitle{
    font-size: 16px !important;
  }

  .textAboutUs{
    flex-direction: column !important;
    width: 100%;
  }

  .textAboutUs div:first-child{
    max-width: 100% !important;
  }
  .textAboutUs div:nth-child(2){
    text-align: center !important;
  }

  .MuiGrid-grid-xs-1{
    max-width: 100% !important;
  }

  .MuiGrid-grid-xs-5{
    max-width: 100% !important;
  }
}
