body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.StripeElement {
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.cardContainer{
  width: 80%;
  border-radius: 10px !important;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 4px 4px 20px 0px rgba(146, 125, 250, 0.5) !important;
  cursor: pointer;
  margin: 0 auto 5px;
  height: 350px;
}

.apbar{
  flex-grow: 1;
  background-color: #000 !important;
}

.imageCarousel{
  display: flex;
  margin-top: 100px !important;
  justify-content: center !important;
  align-items: center !important;
}

.notices{
    display: flex;
    margin-top: 50px !important;
    justify-content: center !important;
    align-items: center !important;
    background: #d2cbcb;
}

.notices .carousel-control-prev,
.notices .carousel-control-next,
.notices .carousel-indicators{
    display: none;
}

.notice-carousel{
    text-align: center;
    width: 100%;
    height: 100%;
}

.notice-carousel strong{
    margin: 25px 0;
}

.eachCarousel{
  height: 550px;
  width: 100%;
}

.expTitle {
  font-size: 60px;
  font-weight: bold;
}

.textAboutUs{
  display: flex;
  flex-direction: row;
  background-color: #E58F1E;
  color: white;
}

.videoPresentation{
  width: 100%;
  height: 100%;
}

.logo{
  width: 186px;
  height: 100px;
}

.title {
  flex-grow: 1;
  color: #EDBA2D;
  cursor: pointer;
  text-align: start;
}

.subTitle{
  font-size: 60px;
  font-weight: bold;
  text-decoration: underline;
}

.MuiGrid-grid-xs-1{
  max-width: 100% !important;
}

.coach-cdab-container{
  margin: 0 auto;
  width:50%
}

.cardArticle {
  width: 100%;
  height: 380px;
  text-align: center;
  box-shadow: 4px 4px 20px 0px rgba(146, 125, 250, 0.5);
  border-radius: 10px;
  padding: 15px;
  background-color: #fff070;
  color: black;
  display: flex;
  margin-bottom: 10px
}

.profilTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 25%;
  font-size: 75px;
  font-weight: 500;
  color: #EDBA2D;
  transform: translate(-50%, -50%);
  width: 900px;
}

.subContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cardArticleWhite {
  width: 1020px;
  height: 380px;
  text-align: center;
  box-shadow: 4px 4px 20px 0 rgba(146, 125, 250, 0.5);
  border-radius: 10px;
  padding: 15px;
  background-color: white;
  color: black;
  display: flex;
  /*margin-bottom: 10px;*/
  overflow: auto;
  margin: 0 auto;
}

.formControl{
  margin-bottom: 10px !important;
  width: 500px;
}

.styleInput{
  width: 500px;
}

.styleInput .MuiFormLabel-root{
  color: black !important;
}

.title-temoignage{
  font-size: 60px;
  font-weight: bold;
  text-decoration: underline
}

.stripe { overflow: visible!important; }

.subMenu{
  margin-top: 200px;
  margin-right:300px;
  margin-left:300px;
}

.locaux{
  width: 400px;
  height: 400px;
}

.drapeau{
  width: 95px;
  height: 60px;
  margin-bottom: 10px
}


.footBar {
  flex-grow: 1;
  background-color: #000 !important;
  position:relative;
  width:100%;
  color: white;
  margin-top: 15px;
  bottom: 0;
}

/*footer-design*/
.siegeSocial {
  flex: 1 0 100px;
  padding: 10px 0px;
}

.siegeSocial p{
  font-size: 15px ;
}

.footer {
  width: 100%;
  height: auto;
  display: flex;
  background-color: #222;
  color: white;
  justify-content: center;
  padding: 15px;
  text-align: center;
}

.footerTitle {
  color: #EDBA2D;
}

.magTitle{
  width: 50%;
  margin: 0 auto;
  border: 1px solid;
  box-shadow: 4px 4px 20px 0px rgba(146, 125, 250, 0.5)
}

.square {
  height: 50px;
  width: 50px;
  background-color: #FFC300;
  position: absolute;
  margin-left: -120px;
}

.contAll {
  margin-top: 200px;
  text-align: center;
  margin-left: 250px;
  margin-right: 250px;
}

.contSome {
  margin-top: 200px;
  text-align: center;
}

.contain{
  text-align: initial;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 25px
}

.videoReport{
    width: 900px;
    height: 500px;
}

.productsEvents{
    text-align: center;
    display: flex;
}

.productsEvents div{
    flex: 1;
}

@media (min-width: 501px) {
  .ModalContent{
    width: 700px !important;
    margin-top: 10% !important;
    margin-bottom: 10% !important;
    max-width: 50% !important;
  }
}

@media (max-width: 500px) {
  .square {
    height: 20px;
    width: 20px;
    background-color: #FFC300;
    position: absolute;
    margin-left: -120px;
    margin-top: 2px !important;
  }

  #expertiseid {
    margin: "0px";
  }
}
 
@media (min-width: 747px) {
  
  .responsiveMenu2{
    margin-top: -13px !important;
  }
 
}

@media (max-width: 746px) {
  .responsiveMenu{
    visibility: hidden !important;
  }

  .responsiveMenu2{
    margin-top: 0px !important;
  }
 
}

@media (min-width: 746px) {
 
  .responsiveMobile{
    visibility: hidden !important;
  }
}

.close-image {
  cursor: pointer;
  display: block;
  float: right;  
  z-index: 15;
  position: absolute; /*newly added*/
  right: 5px; /*newly added*/
  top: 5px;/*newly added*/
}

@media (max-width: 500px) {
  .magTitle{
    width: 90% !important;
  }

  .contAll{
    margin: auto !important;
    width: 100%;
  }

  .contain{
    margin: auto !important;
  }

  .footer{
    display: block !important;
  }

  .siegeSocial p{
    font-size: 12px !important;
  }

  .ModalContent{
    max-width: 95% !important;
  }

  .drapeau{
    width: 50px !important;
    height: 40px !important;
  }

  .locaux{
    width: 300px !important;
    height: 300px !important;
    margin-top: 20px !important;
  }

  .subTitle{
    font-size: 42px !important;
  }

  .subMenu{
    margin: 10px !important;
  }

  .title-temoignage{
    font-size: 16px !important;
  }

  .formControl{
    width: 100% !important;
  }

  .styleInput{
    width: 100% !important;
  }

  .coach-cdab-container{
    margin: 0 auto;
    width: 100%;
  }

  .Coaching-videoArt-8{
    width: 100% !important;
  }

  .subContainer{
    display: block !important;
  }

  .profilTitle{
    width: 100% !important;
    font-size: 40px !important;
  }

  .StudentProfil-subContainer-2{
    display: block !important;
  }

  .Coaching-textArt-9{
    width: 100% !important;
    padding: 0 !important;
  }

  .cardArticle{
    flex-direction: column !important;
    width: 100% !important;
  }

  .cardArticleWhite{
    flex-direction: column !important;
    width: 100% !important;
    overflow: auto !important;
  }

  .title{
    text-align: center !important;
  }

  .logo{
    margin: 0 auto !important;
  }

  .cardContainer{
    height: 100% !important;
  }

  .apbar{
    position: initial !important;
  }

  .dv-toolbar{
    display: grid !important;
  }

  .imageCarousel{
    margin-top: 0px !important;
  }

  .eachCarousel{
    height: 200px !important;
  }

  .expTitle{
    font-size: 16px !important;
  }

  .textAboutUs{
    flex-direction: column !important;
    width: 100%;
  }

  .textAboutUs div:first-child{
    max-width: 100% !important;
  }
  .textAboutUs div:nth-child(2){
    text-align: center !important;
  }

  .MuiGrid-grid-xs-1{
    max-width: 100% !important;
  }

  .MuiGrid-grid-xs-5{
    max-width: 100% !important;
  }

  .videoReport{
      width: 100%;
      height: 100%;
  }

  .productsEvents{
      display: block !important;
  }
}

/* Responsive Menu hamburger for mobile*/
  
* {
  box-sizing: border-box; }
  
.overlay {
  position: fixed;
  z-index: 1;
  background-color: #7c1c18;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in-out; }
  .overlay .main-nav {
    width: 100%;
    margin: 100px 0 0 20px;
    position: absolute;
    left: 40%;
    top: 20%;
    transition: all 300ms ease-in-out; }
    .overlay .main-nav li {
      font-size: 40px;
      padding: 10px;
      width: auto; }
      .overlay .main-nav li a {
        color: white; }

.nav-toggle {
  position: fixed;
  top: 25px;
  right: 0;
  width: 120px;
  height: 40px;
  z-index: 2; }
  .nav-toggle .toggle-botton {
    position: absolute;
    height: 100%;
    width: 30%;
    background-color: red;
    cursor: pointer;
    display: flex;
    align-items: center; 
    margin-top: 10px;}
    .nav-toggle .toggle-botton .middle {
      width: 60%;
      height: 3px;
      opacity: 1;
      position: absolute;
      background-color: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 300ms ease-in-out; }
    .nav-toggle .toggle-botton .top-left {
      width: 30%;
      height: 3px;
      position: absolute;
      background-color: white;
      top: 30%;
      left: 50%;
      transform: translate(-100%, -50%);
      transition: all 300ms ease-in-out; }
    .nav-toggle .toggle-botton .top-right {
      width: 30%;
      height: 3px;
      position: absolute;
      background-color: white;
      top: 30%;
      left: 50%;
      transform: translate(0%, -50%);
      transition: all 300ms ease-in-out; }
    .nav-toggle .toggle-botton .bottom-left {
      width: 30%;
      height: 3px;
      position: absolute;
      background-color: white;
      bottom: 25%;
      left: 50%;
      transform: translate(-100%, -50%);
      transition: all 300ms ease-in-out; }
    .nav-toggle .toggle-botton .bottom-right {
      width: 30%;
      height: 3px;
      position: absolute;
      background-color: white;
      bottom: 25%;
      left: 50%;
      transform: translate(0%, -50%);
      transition: all 300ms ease-in-out; }
  .nav-toggle.is-active .toggle-botton .middle {
    opacity: 0; }
  .nav-toggle.is-active .toggle-botton .top-left {
    top: 30%;
    left: 50%;
    transform: translate(-70%, -50%) rotate(45deg);
    transform-origin: left center; }
  .nav-toggle.is-active .toggle-botton .bottom-right {
    bottom: 25%;
    left: 50%;
    transform-origin: right center;
    transform: translate(-30%, -50%) rotate(45deg); }
  .nav-toggle.is-active .toggle-botton .top-right {
    top: 30%;
    left: 50%;
    transform-origin: right center;
    transform: translate(-30%, -50%) rotate(-45deg); }
  .nav-toggle.is-active .toggle-botton .bottom-left {
    bottom: 25%;
    left: 50%;
    transform-origin: left center;
    transform: translate(-70%, -50%) rotate(-45deg); }
  .nav-toggle.is-active + .overlay {
    opacity: 1;
    pointer-events: auto; }
    .nav-toggle.is-active + .overlay .main-nav {
      top: 0%; }

/*##############################*/
/*####### MEDIA QUERIES #######*/
/*##############################*/
@media screen and (max-width: 746px) {
  .overlay .main-nav li {
    font-size: 30px; } 
     
  }

  @media screen and (min-width: 746px) {
    .nav-toggle{

      visibility: hidden;
    }
  }

  @media screen and (max-width: 561px) {
    .nav-toggle .toggle-botton{

      margin-top: 30px;
    }
  }

  @media screen and (max-width: 521px) {
    .nav-toggle .toggle-botton{

      margin-top: 50px;
    }
  }

  @media screen and (max-width: 476px) {
    .nav-toggle .toggle-botton{

      margin-top: 65px;
    }
  }

  @media screen and (max-width: 388px) {
    .nav-toggle .toggle-botton{

      margin-top: 95px;
    }
  }

  